/* 
    Document   : daje_temp_newpassword
    Created on : 2011-maj-17, 13:42:18
    Author     : aivik1
    Description:
        This was a copy from another site. temporary design.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {
  padding: 30px 0;
  font-family: helvetica, sans-serif;
  background-color: #e5e5e5;
}

p {
  margin: 0 0 5px 0;
}

div.field label {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  color: #3671A1;
  margin: 0 0 3px 0;
}

div.field input {
  padding: 2px;
  font-size: 14px;
  width: 350px;
  margin-bottom: 2px;
}

div.action input {
  font-size: 16px;
}

div.cancel {
  font-size: 16px;
}

div.container {
  margin: 0 auto 0 auto;
  text-align: center;
}

.col {
  padding: 0 20px;
  text-align: left;
}


/*-------------------------------------------------
  FORM VALIDATION ERRORS
-------------------------------------------------*/

/*-------------------------------------------------
  FLASH ERRORS
-------------------------------------------------*/

/*-------------------------------------------------
  AFFECTED ACCOUNTS
-------------------------------------------------*/

/* =====================================
AFFECTED ACCOUNTS
=======================================*/

/*-------------------------------------------------
IDENTITY VALIDATION
-------------------------------------------------*/

body.identity_validation div.validated_field {
  margin: -5px -10px 10px -10px;
  padding: 5px 0 5px 10px;
  display: inline-block;
}

body.identity_validation div.validated_field p,
body.identity_validation div.validated_field h2,
body.identity_validation div.validated_field p.hint,
body.identity_validation div.validated_field p.field {
  margin: 0;
}

body.identity_validation div.validated_field p.field {
  padding: 0 40px 0 0;
  display: inline-block;
}

body.identity_validation div.validated_field p.hint,
body.identity_validation div.validated_field p.error {
	margin-top: 5px;
  font-size: 11px;
	line-height: 1.1em;
	background: none;
}

/* IE */

body.show_password_reset .container {
  width: 550px;
}

body.show_password_reset .Full .col {
  padding: 0;
  background: none;
}

body.show_password_reset #header {
  padding: 36px 76px 5px 39px;
  margin: 0;
  background: url(/img/rounded_panel_top.png) no-repeat left top;
  /*background: url(/images/signal_id/rounded_panel.png) no-repeat left top;*/
}

body.show_password_reset #panel {
  padding: 5px 76px 46px 39px;
  margin: 0;
  background: url(/img/rounded_panel.png) no-repeat left bottom;
  /*background: url(/images/signal_id/rounded_panel.png) no-repeat left bottom;*/
}

body.show_password_reset img.lock {
  float: left;
}

body.show_password_reset input#username,
body.show_password_reset input#password,
body.show_password_reset input#password_confirmation {
  width: 250px;
}


