/* 
    Document   : daje_temp_newpassword
    Created on : 2011-maj-17, 13:42:18
    Author     : aivik1
    Description:
        This was a copy from another site. temporary design.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {
  padding: 30px 0;
  font-family: helvetica, sans-serif;
  background-color: #e5e5e5;
}

a.admin {
  color: red;
}

a.admin:hover {
  color: white;
  background: red;
}

p {
  margin: 0 0 5px 0;
}

input.button, input.checkbox {
  width: auto;
}

div.field {
  margin-bottom: 20px;
}

div.field label {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  color: #3671A1;
  margin: 0 0 3px 0;
}

div.field input {
  padding: 2px;
  font-size: 14px;
  width: 350px;
  margin-bottom: 2px;
}

div.field input.username,
div.field input.password {
  width: 250px;
}

div.field p {
  font-size: 14px;
  margin: 3px 0;
}

div.field p.tip {
  font-size: 12px;
  color: #888;
  margin: 0;
}

div.action input {
  font-size: 16px;
}

div.cancel {
  font-size: 16px;
  color:red;
}
div.wrapper {
  background: #e5e5e5;
  padding: 12px 23px 0 30px;
  margin: 0 auto;
  min-width: 800px;
}

div.container {
  margin: 0 auto 0 auto;
  text-align: center;
}

.Left {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 68%;
  float: left;
}

.Right {
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
  width: 32%;
}

.col {
  padding: 0 20px;
  text-align: left;
}

.container div.topmost_col {
  padding-bottom: 0;
  display: none;
}

.Left .col,
.Full .col,
.Fixed .col {
  padding: 0 8px 0 0;
  background: #fff url(/images/signal_id/right-bg.gif) right repeat-y;
}

.Fixed {
  margin: 0 auto;
  width: 950px;
}

.Left .innercol,
.Full .innercol,
.Fixed .innercol {
  padding: 15px 60px 20px 23px;
}

div.page_header {
  background: #edf3fe;
  margin: 0;
  padding: 18px 30px 18px 24px;
}

.Full .bottom,
.Left .bottom,
.Fixed .bottom {
  background: url(/images/signal_id/bottom-bg.gif) top right no-repeat;
  font-size: 8px;
  padding: 12px 0 20px 20px;
}

.Right .col {
  min-width: 200px;
  padding: 0 0 0 12px;
}


/*-------------------------------------------------
  FORM VALIDATION ERRORS
-------------------------------------------------*/

#errorExplanation {
  margin-bottom: 20px;
  padding: 10px 0;
  border-top: 1px dotted #f99;
  border-bottom: 1px dotted #f99;
}

#errorExplanation h2 {
  font-size: 16px;
  margin: 0 0 3px 0;
  color: #d00;
}

#errorExplanation p {
  font-size: 14px;
}

#errorExplanation ul {
  padding-left: 25px;
  margin-bottom: 0;
}

#errorExplanation ul li {
  font-size: 14px;
  list-style: square;
  margin-bottom: 5px;
}

/*-------------------------------------------------
  FLASH ERRORS
-------------------------------------------------*/

div.flash_error {
  background: #c00;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}


/*-------------------------------------------------
  AFFECTED ACCOUNTS
-------------------------------------------------*/

#affected_accounts {
  font-size: 14px;
}

#affected_accounts p {
  margin-bottom: 7px;
}

#affected_accounts span.product {
  color: #666;
}

#affected_accounts div.user {
  line-height: 32px;
  margin-bottom: 4px;
}

#affected_accounts div.user img {
  vertical-align: middle;
}

body.edit_identity {
  font-family: lucida grande, arial, sans-serif;
}

body.edit_identity .col p {
  margin: 0;
}

body.edit_identity .col a {
  color: #05c;
  padding: 1px;
}

body.edit_identity .col a:hover {
  color: #fff;
  background: #05c;
  text-decoration: none;
}

body.edit_identity a.admin {
  color: red;
}

body.edit_identity a.admin:hover {
  color: white;
  background: red;
}

body.edit_identity .container {
  width: 850px;
}

body.edit_identity .Left,
body.edit_identity table.layout td.left {
  width: 60%;
}

body.edit_identity .Right,
body.edit_identity table.layout td.right {
  width: 40%;
  font-family: helvetica, arial, sans-serif;
}

body.edit_identity div.link_back {
  text-align: left;
  font-size: 14px;
  margin: 0 0 14px 0;
}

body.edit_identity div.link_back a {
  text-decoration: none;
}

body.edit_identity div.link_back a span.underlined {
  text-decoration: underline;
}

body.edit_identity div.link_back a:hover span.underlined {
  text-decoration: none;
}

body.edit_identity div.page_header h1 {
  font-size: 14px;
  margin: 0;
}

body.edit_identity label {
  font-weight: normal;
  color: #222;
  font-size: 12px;
  white-space: nowrap;
}

body.edit_identity tr.confirm_password label {
  white-space: normal;
}

body.edit_identity input {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  padding: 3px;
  width: 300px;
}

body.edit_identity table {
  padding: 0;
  margin: 0;
  border: none;
}

body.edit_identity table tr {
  padding: 0;
}

body.edit_identity table p.hint {
  font-size: 11px;
  color: #999;
}

body.edit_identity table p.hint a {
  color: #888;
}

body.edit_identity table p.hint a:hover {
  color: #fff;
  background: #666;
}

body.edit_identity table tr.submit td input {
  width: auto;
  font-size: 14px;
  padding: 0;
}

body.edit_identity table tr.submit td {
  padding-top: 6px;
}

body.edit_identity table td,
body.edit_identity table th {
  padding: 0;
  color: #999;
  font-size: 11px;
  vertical-align: middle;
}

body.edit_identity table td {
  padding-left: 10px;
}

body.edit_identity table tr th {
  vertical-align: top;
  padding-top: 10px;
  min-width:65px;
}

body.edit_identity table tr.username_password td input {
  width: 200px;
}

body.edit_identity table tr.confirm_password th {
  padding-top: 0;
}

body.edit_identity table tr.avatar th {
  padding: 0 0 18px 0;
  text-align: right;
}

body.edit_identity table tr.avatar td {
  vertical-align: top;
  padding-top: 6px;
}

body.edit_identity table tr.with_tip td p {
  font-size: 11px;
}

body.edit_identity tr.avatar th img {
  background: #fff;
  padding: 1px;
  border: 1px solid #ddd;
  height: 55px;
  width: 55px;
}

body.edit_identity tr.avatar td input {
  font-size: 12px;
  font-weight: normal;
  width: auto;
}

body.edit_identity tr.avatar td a {
  font-size: 11px;
}

body.edit_identity tr.avatar td p {
  margin: 0;
}

body.edit_identity table td strong {
  color: #666;
}

body.edit_identity div.errors {
  border: 2px solid red;
  margin: 0 0 20px 0;
  padding: 10px;
}

body.edit_identity div.errors h2{
  font-size: 16px;
  margin: 0 0 10px 0;
}

body.edit_identity div.errors ul {
  padding: 0 0 0 20px;
}

body.edit_identity div.errors li {
  list-style-type: square;
  color: #333;
}

body.edit_identity input.dummy[data-dummy=true] {
  color: #888;
}

/* =====================================
AFFECTED ACCOUNTS
=======================================*/

body.edit_identity #affected_accounts {
  margin-top: 12px;
}

#affected_accounts {
  color: #333;
  font-size: 14px;
}

#affected_accounts dl,
#affected_accounts dt,
#affected_accounts dd {
  padding: 0;
  float: none;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  width: auto;
}

#affected_accounts dl {
  margin: 0 0 0 44px;
}

#affected_accounts dd {
  margin: 0 0 5px;
  color: #666;
}

#affected_accounts dt {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  border: none;
  background: none;
  padding: 0;
  margin: 20px 0 5px;
}

#affected_accounts dt strong {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 0 0 4px;
}

#affected_accounts dt img {
  margin: 0 0 -26px -44px;
  vertical-align: middle;
}


/*-------------------------------------------------
IDENTITY VALIDATION
-------------------------------------------------*/

body.identity_validation div.validated_field {
  margin: -5px -10px 10px -10px;
  padding: 5px 0 5px 10px;
  display: inline-block;
}

body.identity_validation table div.validated_field {
  margin: -5px -10px 10px -10px;
  padding: 7px 0 5px 8px;
  display: block;
}

body.identity_validation table div.validated_field.locale {
  margin: 0 -10px;
}

body.edit_identity table tr.username_password td div.validated_field {
  width: 240px;
  padding-right: 10px;
}

body.identity_validation div.validated_field p,
body.identity_validation div.validated_field h2,
body.identity_validation div.validated_field p.hint,
body.identity_validation div.validated_field p.field {
  margin: 0;
}

body.identity_validation div.validated_field p.field {
  padding: 0 40px 0 0;
  display: inline-block;
}

body.identity_validation div.validated_field p.hint,
body.identity_validation div.validated_field p.error {
	margin-top: 5px;
  font-size: 11px;
	line-height: 1.1em;
	background: none;
}

body.identity_validation div.validated_field p.error {
  display: none;
  color: #f00;
}

body.identity_validation div.validated_field.invalid p.error {
  display: block;
}

body.identity_validation div.validated_field.invalid label,
body.identity_validation div.validated_field.invalid h2 {
  color: #f00;
}

body.identity_validation div.validated_field.valid p.field {
  background: url(/images/signal_id/identifications/icon_success.png) no-repeat right center;
}

body.identity_validation div.validated_field.invalid {
  background: #fedfe7;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

body.identity_validation div.validated_field.invalid p.field {
  background: url(/images/signal_id/identifications/icon_fail.png) no-repeat right center;
}

body.identity_validation table div.validated_field.valid,
body.identity_validation table div.validated_field.invalid {
  background-position: right 12px;
}

body.identity_validation div.validated_field.invalid p.hint {
  display: none;
}

body.identity_validation div.username_suggestions {
	margin: 10px 0 5px 0;
}

body.identity_validation div.username_suggestions ul {
	padding-top: 5px;
}

body.identity_validation div.username_suggestions li {
	padding-top: 4px;
	font-family: monaco, monspace, courier, sans-serif;
}


/* IE */

*:first-child+html body.identity_validation div.validated_field,
*:first-child+html body.identity_validation table div.validated_field,
*:first-child+html body.identity_validation div.validated_field p.field {
  display: inline;
}


*:first-child+html body.identity_validation div.validated_field,
*:first-child+html body.identity_validation table div.validated_field {
  margin-top: -3px;
  padding-right: 0;
}

*:first-child+html body.identifications div.pick {
  zoom: 1;
}


body.show_password_reset .container {
  width: 550px;
}

body.show_password_reset .Full .col {
  padding: 0;
  background: none;
}

body.show_password_reset .Full .innercol {
  padding: 0;
  background: none;
  /*padding: 15px 60px 20px 23px;*/
}

body.show_password_reset .Full .bottom {
  display: none;
}

body.show_password_reset #introduction {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.4;
  clear: both;
}

body.show_password_reset #introduction span.username {
  font-weight: bold;
  color: #3671a1;
}

body.show_password_reset #header {
  padding: 36px 76px 5px 39px;
  margin: 0;
  background: url(/img/rounded_panel_top.png) no-repeat left top;
  /*background: url(/images/signal_id/rounded_panel.png) no-repeat left top;*/
}

body.show_password_reset #header p {
  font-weight: bold;
  color: #000;
}

body.show_password_reset #panel {
  padding: 5px 76px 46px 39px;
  margin: 0;
  background: url(/img/rounded_panel.png) no-repeat left bottom;
  /*background: url(/images/signal_id/rounded_panel.png) no-repeat left bottom;*/
}

body.show_password_reset img.lock {
  float: left;
}

body.show_password_reset div.form,
body.show_password_reset #errorExplanation {
  margin-left: 100px;
}

body.show_password_reset #affected_accounts {
  border-top: 1px solid #9ba287;
  margin-top: 40px;
  padding-top: 14px;
  padding-left: 10px;
}

body.show_password_reset #affected_accounts p {
  color: #666;
}

body.edit_identity table tr.username_password td div.validated_field {
  width: 290px;
  padding-right: 10px;
}

body.show_password_reset input#username,
body.show_password_reset input#password,
body.show_password_reset input#password_confirmation {
  width: 250px;
}


