body {
  padding: 30px 0;
  font-family: helvetica, sans-serif;
  background-color: #e5e5e5;
}

a.admin {
  color: red;
}

a.admin:hover {
  color: white;
  background: red;
}

p {
  margin: 0 0 5px 0;
}

input.button, input.checkbox {
  width: auto;
}

div.field {
  margin-bottom: 20px;
}

div.field label {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  color: #3671A1;
  margin: 0 0 3px 0;
}

div.field input {
  padding: 2px;
  font-size: 14px;
  width: 350px;
  margin-bottom: 2px;
}

div.field input.username,
div.field input.password {
  width: 250px;
}

div.field p {
  font-size: 14px;
  margin: 3px 0;
}

div.field p.tip {
  font-size: 12px;
  color: #888;
  margin: 0;
}

div.action input {
  font-size: 16px;
}

div.cancel {
  font-size: 16px;
  color:red;
}
div.wrapper {
  background: #e5e5e5;
  padding: 12px 23px 0 30px;
  margin: 0 auto;
  min-width: 800px;
}

div.container {
  margin: 0 auto 0 auto;
  text-align: center;
}

.Left {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 68%;
  float: left;
}

.Right {
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
  width: 32%;
}

.col {
  padding: 0 20px;
  text-align: left;
}

.container div.topmost_col {
  padding-bottom: 0;
  display: none;
}

.Left .col,
.Full .col,
.Fixed .col {
  padding: 0 8px 0 0;
  background: #fff url(/images/signal_id/right-bg.gif) right repeat-y;
}

.Fixed {
  margin: 0 auto;
  width: 950px;
}

.Left .innercol,
.Full .innercol,
.Fixed .innercol {
  padding: 15px 60px 20px 23px;
}

div.page_header {
  background: #edf3fe;
  margin: 0;
  padding: 18px 30px 18px 24px;
}

.Full .bottom,
.Left .bottom,
.Fixed .bottom {
  background: url(/images/signal_id/bottom-bg.gif) top right no-repeat;
  font-size: 8px;
  padding: 12px 0 20px 20px;
}

.Right .col {
  min-width: 200px;
  padding: 0 0 0 12px;
}


/*-------------------------------------------------
  FORM VALIDATION ERRORS
-------------------------------------------------*/

#errorExplanation {
  margin-bottom: 20px;
  padding: 10px 0;
  border-top: 1px dotted #f99;
  border-bottom: 1px dotted #f99;
}

#errorExplanation h2 {
  font-size: 16px;
  margin: 0 0 3px 0;
  color: #d00;
}

#errorExplanation p {
  font-size: 14px;
}

#errorExplanation ul {
  padding-left: 25px;
  margin-bottom: 0;
}

#errorExplanation ul li {
  font-size: 14px;
  list-style: square;
  margin-bottom: 5px;
}

/*-------------------------------------------------
  FLASH ERRORS
-------------------------------------------------*/

div.flash_error {
  background: #c00;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}


/*-------------------------------------------------
  AFFECTED ACCOUNTS
-------------------------------------------------*/

#affected_accounts {
  font-size: 14px;
}

#affected_accounts p {
  margin-bottom: 7px;
}

#affected_accounts span.product {
  color: #666;
}

#affected_accounts div.user {
  line-height: 32px;
  margin-bottom: 4px;
}

#affected_accounts div.user img {
  vertical-align: middle;
}

