body.show_password_reset .container {
  width: 550px;
}

body.show_password_reset .Full .col {
  padding: 0;
  background: none;
}

body.show_password_reset .Full .innercol {
  padding: 0;
  background: none;
  /*padding: 15px 60px 20px 23px;*/
}

body.show_password_reset .Full .bottom {
  display: none;
}

body.show_password_reset #introduction {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.4;
  clear: both;
}

body.show_password_reset #introduction span.username {
  font-weight: bold;
  color: #3671a1;
}

body.show_password_reset #header {
  padding: 36px 76px 5px 39px;
  margin: 0;
  background: url(/img/rounded_panel_top.png) no-repeat left top;
  /*background: url(/images/signal_id/rounded_panel.png) no-repeat left top;*/
}

body.show_password_reset #header p {
  font-weight: bold;
  color: #000;
}

body.show_password_reset #panel {
  padding: 5px 76px 46px 39px;
  margin: 0;
  background: url(/img/rounded_panel.png) no-repeat left bottom;
  /*background: url(/images/signal_id/rounded_panel.png) no-repeat left bottom;*/
}

body.show_password_reset img.lock {
  float: left;
}

body.show_password_reset div.form,
body.show_password_reset #errorExplanation {
  margin-left: 100px;
}

body.show_password_reset #affected_accounts {
  border-top: 1px solid #9ba287;
  margin-top: 40px;
  padding-top: 14px;
  padding-left: 10px;
}

body.show_password_reset #affected_accounts p {
  color: #666;
}

body.edit_identity table tr.username_password td div.validated_field {
  width: 290px;
  padding-right: 10px;
}

body.show_password_reset input#username,
body.show_password_reset input#password,
body.show_password_reset input#password_confirmation {
  width: 250px;
}
