/* 
    Document   : style
    Created on : 2011-02-01, 11:33:09
    Author     : Kristian Erendi
    Description: The style for motiomera        
*/
root{display: block;}
body {color:#333;font-family:Arial,Verdana;font-size:11px;}
.container_12 {
  background:#FFFFFF url(/img/12_col.gif) repeat-y scroll 0 0;
  margin-bottom:20px;
  margin-top: 20px;
}
#container{width: 754px;}
.clear{clear:both;}


/* adminbar */
#adminbar{float:left;}
#adminbar ul{padding:0;}
#adminbar li{
  float:left;
  font-size:17px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin-right:16px;
}
#footer{border-top:1px solid #E7E7E7;margin-top:10px;margin-bottom:5px;}
/*
.error{
  border:1px solid red;
  padding:5px;
  width:450px; 
  margin-bottom: 10px;
}
.error-msg{color: red;}
*/

.input-text{width:65px;}
#header{float:left;position:relative;}
#greeting{position:absolute;top:30px;right:40px;color:#fff;}
#greeting-nick{font-weight:bold;text-transform:capitalize;}
#greeting a{color:#fff;}
#log-in {
  position:absolute;top:5px;right:20px;color:#fff;
  border:0 solid #000000;
  float:left;
  height:45px;
  margin:13px 0 0 455px;
  text-align:right;
  width:290px;
}
.log-in-input{
  padding-top:4px;
  text-align:right;
  white-space:nowrap;
}


#btn-report-dialog{border: none;background-color: #FFFFFF;}

#mmMenuTop {
  color:#CCCCCC;
  font-family:trebuchet ms,Tahoma,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  height:20px;
  margin-top:79px;
  position:absolute;
  text-align:right;
  width:720px;
}

#mmMenuTop a, .mmLinkGreen a {
  color:#5AA41F;
  text-decoration:none;
}

#debug-msg{display:none;}
#count{width:50px;}
.capitalize{text-transform: capitalize;}

#step-data{float:left;padding-top:20px;}

.admin-table td{padding: 0 10px 0 10px;}
.avatar-mini {height:20px;width:20px;}
.button-space{margin-bottom: 3px;}
.show{display:block;}
.hide{display:none;}

.toplist{border:2px #fed22f solid;}
.toplist-head{margin-left:10px;}
.toplist-ol{padding-left:25px;}
.toplist-a{width:145px;display: block;float: left;}
.toplist-steps{width: 50px;}
#gift-area{padding-top: 10px;}